
#body{
	padding-left: 60px;
	padding-right: 100PX;  
	font-size: 14px; 
	padding-bottom: 60px; 
	font-family: sans-serif;
	background-attachment: fixed;
	background-image: url(img/bg.jpg);
	background-repeat: repeat;
}
#profile1{
	margin-bottom: 10px; 
	text-align: center; 
	font-size: 24px; 
	text-shadow: rgb(30,43.23); 
	font-style: italic; 
	color: green;
}
#profile1_1{
	padding: 12px;
}
#profile1_2{
	text-align: center;
}
#profile1_3{
	color: blue; 
}
#profile2{
	background: yellow; 
	font-size: 11px;
}
#profile3{
	color: red; 
	padding-left: ; 
	font-size:16px; 
	text-align: center;
}
#profile4{
	font-size: 16pt;
	 color: black; 
	 text-decoration: none;
}
#profile4_1{
	background: #E9967A; 
	padding: 4px;
}
#profile4_2{
	background: rgb(100,100,1);
	font-size: 24px; 
	padding: 12px; 
	color: #330000;
}
#profile5{
	display: inline-block; 
}
#profile5_1{
	float: left; 
	background-color: #006666; 
	color: black;
	padding-left: 2pt;
}
#profile5_2{
	background-color: #BDB76B; 
	padding: 4px;
}
#profile5_3{
	float: right; 
	background-color: #cccccc ; 
	padding-left: 8px;
	padding-right: 8px;
}
#profile6{
	background-color: #339966; 
	padding-right: 600pt;
}
#profile7{
	display: inline-block; 
	background-color: ;
}

#imageupload
{
	width:217px;
	height:30px;
	border:1px solid #999;
	padding-top:10px;
	padding-left:5px;
}
header nav{
	width: 100%;
	height: 60px;
	background-color: #fff;
	
	}
	
header  nav ul{
		float:left;
	}
header  nav ul li{
		float:left;
		list-style:none;
	}
header  nav ul li a{
		font-family: Arial, Helvetica, sans-serif;
		font-size:16px;
		color:#111;
		line-height:63px;
	}
header .nav-login{
float:right;	
}
header .nav-login form{
float:left;	
padding-top:15px;
}
header .nav-login form input{
float:left;	
width:140px;
height:30px;
padding:: 0px 10px;
margin-right:10px;
border:none;
background-color:#ccc;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
color:#111;
line-height:30px;
}
header .nav-login form button{
float:left;	
width:60px;
height:30px;
margin-right:10px;
border:none;
background-color:#f3f3f3;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
color:#111;
cursor:pointer;
}
header .nav-login form button:hover {
background-color:#ccc;

}
header .nav-login a{
	float:left;
	cursor:pointer;
	display::block;
	width:60px;
	height:60px;
	border:none;
	background-color:#fff;
	cursor:pointer;
	font-family: Arial, Helvetica, sans-serif;
		font-size:16px;
		color:#111;
		line-height:63px;
	}

.theButtons
{
	width:222px;
	height:40px;
	background-color:#5F9EA0;
	border:2px solid #00BFFF;
	font-weight:bold;
	font-family:tahoma;
	color:#5F9EA0;
	border-radius:20px;
}
.inputFields
{
	width:215px;
	height:27px;
	padding-left:5px;
	border:1px solid #999;
	outline:none;
	border-radius:2px;
	transition:0.3s linear;
}

.inputFields:focus
{
	border:1px solid #000;
	box-shadow:0px 0px 10px #999;
}


.menu
{
	width:990px;
	margin:0px auto;
	text-align:right;
	color:rgb(200,500, 100);
	background-color: rgb(1,100, 100);;
	border-bottom:1px solid #CCC;
	text-decoration:none;
	
	
	}

.menu a
{
	text-decoration:none;
	display:inline-block;
	color:#666;
	padding:14px;
	background-color:#F8F8F8;
}

#menu a:hover
{
	color:#000;
	background-color:#eee;
}

#error
{
	width:990px;
	margin:0px auto;
	height:30px;
	background-color:red;
	margin-top:20px;
	padding-left:10px;
	padding-top:10px;
	color:#FFF;
	font-weight:bold;
	font-size:15px;
	display:none;
	
}

#wrapper
{
	width:1000px;
	background-color:#FFF;
	margin:0px auto;
	min-height:400px;
	border:1px solid #999;
	border-bottom:3px solid #999;
	border-radius:5px;
	padding-bottom:20px;
}


#formDiv
{
	width:300px;
	margin:0px auto;
	margin-top:20px;
	font-family:tahoma;
	font-size:14px;
	color: #5F9EA0;
	background:#00BFFF;
}




#left
{

float: left;

}
#right{
	float: right;
}
#marketForms{
	color: #5F9EA0;
	background-image: url(img/bg4.jpg);
	padding-top: 12px;
	border-radius: ;
	text-align: center;
	overflow: hidden;
	background-attachment: fixed;
}

#border{
	color: #5F9EA0;
	background: grey;
	padding-top: 12px;
	border-radius: 3px;
	text-align: center;
	overflow: hidden;
	background-attachment: fixed;
}

#marketItems{
            padding: 12px;
            background: #f3f3f3;
            color:#006666;
            border: 2px solid green;

        }
        #th{
        	text-align: center;
        	background-color: #f3f3f3;
        	border-radius: 8px;
        	border: 2px solid green;
        }

        #td{
        	text-align: center;
        	background-color: #f3f3f3;
        	border-radius: 18px;
        	border: 2px solid grey;
        }
        
#marketItems table,tr,th,td
            {
                text-align: center;
                overflow: hidden;
                padding: 120px;
                border: 2px solid grey;
                border-radius: 12px;
                border-style: center;
                border-color: #f3f3f3;
                font-size: 16px;
                background-color: #C0C0C0;
                background-attachment: fixed;
            }
#listButtons{
	border: 0px solid;
	
}

#contactHeader{
	color: #00bfff; 
	font-size: 24px; 
	padding: 12px; 
	background: #336699;
	border-radius: 6px;
}




@media only screen( max-width: 768px){}
#mobileview{

align:left;	
center-left;

}
.navbar{
	border-radius: 6px;
	font-family:Mostserrat, sans-serif;
	margin-bottom:0;
	background:#C0C0C0;
	border:10;
	font-size:15px;
	letter-spacing:1px;
	
}
.navbar li a, .navbar-brand{
	color:#339999 !important;
	font-size:16px;
	background:#C0C0C0;
	padding:20px;
	text-align:right;
	}
.navbar-nav li a:hover{
	border-radius: 4px;
	color:#00008B!important;
	font-size:16px;
	
}

#sidenav{
	
	padding:16px;
	background-color:#2F4F4F;
	
}


#userId{
	text-align: center;
}
#userInfo{
	text-align: center;
	padding: 18px;
}







/*


body
{
	padding:0;
	margin:0;
	background-color:#CCC;
	background-image: url(bg.jpg);
	background-repeat: repeat;
}
*/

#imageupload
{
	width:217px;
	height:30px;
	border:1px solid #999;
	padding-top:10px;
	padding-left:5px;
}
/
header nav{
	width: 100%;
	height: 60px;
	background-color: #fff;
	
	}
	
header  nav ul{
		float:left;
	}
header  nav ul li{
		float:left;
		list-style:none;
	}
header  nav ul li a{
		font-family: Arial, Helvetica, sans-serif;
		font-size:16px;
		color:#111;
		line-height:63px;
	}
header .nav-login{
float:right;	
}
header .nav-login form{
float:left;	
padding-top:15px;
}
header .nav-login form input{
float:left;	
width:140px;
height:30px;
padding:: 0px 10px;
margin-right:10px;
border:none;
background-color:#ccc;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
color:#111;
line-height:30px;
}
header .nav-login form button{
float:left;	
width:60px;
height:30px;
margin-right:10px;
border:none;
background-color:#f3f3f3;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
color:;
cursor:pointer;
}
header .nav-login form button:hover {
background-color:#ccc;

}
header .nav-login a{
	float:left;
	cursor:pointer;
	display::block;
	width:60px;
	height:60px;
	border:none;
	background-color:#fff;
	cursor:pointer;
	font-family: Arial, Helvetica, sans-serif;
		font-size:16px;
		color:#111;
		line-height:63px;
	}

.theButtons
{
	width:222px;
	height:40px;
	border:2px solid blue;
	font-weight:bold;
	font-family:tahoma;
	color:#FFF;
	border-radius:2px;
}
.Buttons
{
	width: ;
	height:;
	background-color:#ffffff;
	border: 4px;
	padding: 0px;
	margin: 2px;
	font-weight:bold;
	font-family:tahoma;
	color:#336666;
	border-radius:4px solid green;
}
.Buttons:hover{
	color: #4B0082;
	box-shadow: none;
}
.inputFields
{
	width:215px;
	height:27px;
	padding-left:5px;
	border:1px solid #999;
	outline:none;
	border-radius:2px;
	transition:0.3s linear;
}

.inputFields:focus
{
	border:1px solid #000;
	box-shadow:0px 0px 10px #999;
}


.menu
{
	width:990px;
	margin:0px auto;
	text-align:right;
	color:rgb(200,500, 100);
	background-color: rgb(1,100, 100);;
	border-bottom:1px solid #CCC;
	text-decoration:none;
	
	
	}

.menu a
{
	text-decoration:none;
	display:inline-block;
	color:#666;
	padding:14px;
	background-color:#F8F8F8;
}

#menu a:hover
{
	color:#00008B;
	background-color:#eee;
}

#error
{
	width:990px;
	margin:0px auto;
	height:30px;
	background-color:red;
	margin-top:20px;
	padding-left:10px;
	padding-top:10px;
	color:#FFF;
	font-weight:bold;
	font-size:15px;
	display:none;
	
}

#wrapper
{
	width:1000px;
	background-color:#FFF;
	margin:0px auto;
	min-height:400px;
	border:1px solid #999;
	border-bottom:3px solid #999;
	border-radius:5px;
	padding-bottom:20px;
}


#formDiv
{
	width:300px;
	margin:0px auto;
	margin-top:20px;
	font-family:tahoma;
	font-size:14px;
	background:#ffffff;
}




#left
{

float: left;

}
#right{
	float: right;
}





@media only screen( max-width: 768px){
#mobileview{

align:left;	
center-left;

}
}
.navbar{
	font-family:Mostserrat, sans-serif;
	margin-bottom:0;
	background:#C0C0C0;
	border:0;
	font-size:15px;
	letter-spacing:1px;
	
}
.navbar li a, .navbar-brand{
	color: !important;
	font-size:16px;
	background:#C0C0C0;
	padding:20px;
	text-align: center;
	border-radius: 4px;
	text-align: center;
	}
.navbar-nav li a:hover{
	color:blue!important;
	font-size:16px;
	
}




#container>img{
	width:100%;
	height:100%;
	position:absolute;
	
}

#{
	padding-left: 60px;
	 padding-right: 100PX;  
	 font-size: 14px; 
	 padding-bottom: 60px; 
	 font-family: sans-serif; 
	 background:#ccffcc; 
}


